body{
	color: green;
}
.container{
	
	margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.container{
		max-width: 320px;
		padding: 10px 15px;

	}
	.logo{
		width: 130px;
		padding: 10px 0 0;
	}
	.logo img{
		width: 100%;
	}
	.navbar{
		padding: 15px 0;
	}
	label{
		display: block;
	}
		.navbar ul{
		display: none;
	}
	#toggle:checked + .navbar ul {
		display: block;

	}

	.banner-text h1{
		font-size: 32px;
		padding-top: 15px;
	}
	.banner-text button{
		width: 90px;
		height: 32px;
	}
	.banner-text h5{
		font-size: 12px;
		padding: 5px;
	}
	.banner-text{
		padding-bottom: 15px;
	}
	.connect-image img{
		width: 100%;
	}
	.connect-text{
		margin: 0 auto;
	}
	.connect-text h3{
	text-align: center;
    font-family: lato;
    font-size: 16px;
    margin: 0 0 10px;
	}
	.connect-text p{
		font-family: lato;
	    font-weight: 400;
	    font-size: 11px;
	    text-align: center;
	}
	.connect-image{
		margin:10px 0;
	}
	.circle-block-wrapper{
		width: 100%;
	}
	.upper-circle-block{
		width: 100%;
	}
	.circle-img img{
		border-radius: 50%;
		width: 150px;
	}
	.circle-block{
		width: 100%;
		padding: 0;
	}
	.section3-upper{
		overflow: hidden;
		display: block;
	}
	.section3-img1{
		width: 100%;
		display: block;
	}
	.section3-img2{
		width: 100%;
	}
	.section3-img2-text{
		padding: 15px;
	}
	.section3-img2-text h1{
	font-family: lato;
    font-size: 40px;
    font-weight: 600;
	}
	.section3-img2-text h5{
	   font-family: lato;
       font-size: 11px;
       line-height: 2;
	}
	.section5-img-text{
		width: 100%;
		display: block;
	}
	.section5-text-upper{
		width: 100%;
		padding: 15px;
	}
	.section5-img{
		width: 100%;
		display: block;
	}
	.section5-text{
		width: 100%;
		padding: 15px;
	}
	.section6-img-text{
		width: 100%;
		display: block;
	}
	.section6-text{
		width: 100%;
		padding: 15px;
		display: block;
	}
	.section6-img{
		width: 100%;
	}






	.footer-logo{
		width: 100%;
		text-align: center;

	}
	.footer-nav{
		margin: 40px 215px 20px 0;
	    width: 100%;
	    text-align: center;
	}
	.footer-icons{
		margin-top: 50px;
        text-align: center;
        float: none;
	}
}